@import "../../variables.scss";

.categoryNavbar{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    right: 0;
    width: 65px;
    border-radius: $radiusSize*0.4px 0px 0px $radiusSize*0.4px;
}

.categoryNavbarSticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.categoryNavbar .categoryNavbarSticky p{
    font-size: large;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.categoryNavbar .categoryNavbarSticky a{
    font-size: 0.8em;
    padding: 5px 0;
    text-decoration: none;
    color: $darkModeColor;
    transition: all .2s ease-in-out;
}

.categoryNavbar .categoryNavbarSticky a:hover{
    text-decoration: none;
    color: $darkModeColor;
    transform: scale(1.1);
    transform: translateX(-10%);
}

.dotParent{
    flex: 1;
    position: relative;
}
