@import "../../variables.scss";

$loaderColor: rgb(63, 63, 63);

.loader{
    position: relative;
    height: 5em;
    width: 5em;
    background: $sameAsBackground;
    border-radius: 50%;
    box-shadow: inset -7px -7px 25px 0 rgba(255, 255, 255, 0.5),
                inset 7px 7px 25px 0 rgba(0, 0, 0, 0.5);
}

.loader::before{
    content: "";
    position: absolute;
    height: 4.5em;
    width: 4.5em;
    background: $sameAsBackground;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: -7px -7px 25px 0 rgba(255, 255, 255, 0.9),
                7px 7px 25px 0 rgba(0, 0, 0, 0.3);
}

.loader::after{
    content: "";
    position: absolute;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 0.75s infinite linear;
}

@keyframes rotate{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loaderRing::after{
    border: 0.25em solid $loaderColor;
    border-right: solid 0.25em transparent;
    border-top: solid 0.25em transparent;
    border-left: solid 0.25em transparent;
}