@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "./styles.scss";

html, body{
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root{
    min-width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    justify-content: center;
    text-decoration: none;
}

a{
    color: var(--text-color);
}

a:hover{
    color: var(--text-color);
}

@for $i from 1 through 12 {
    .col-#{$i}{
        padding: 0;
    }
}

.expandingColumn{
    background-color: var(--bg-color);
}

label {
    margin: 0;
}


.fullScreen{
    max-width: 100%;
}

.wideScreen{
    max-width: 90%;
}

//Danger background shows over neumorphic
.flexContentParent {
    flex-wrap: wrap;
}

.alert-danger{
    background-color: #f8d7da !important;
}


.object-fit-contain{
    object-fit: contain;
}

.object-fit-cover{
    object-fit: cover;
}

.forceTextWrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.textColor{
    color: var(--text-color);
}

button{
    color: inherit;
}

.text-align-left{
    text-align: left !important;
}

.text-align-center{
    text-align: center !important;
}

.text-align-right{
    text-align: right !important;
}

.noTextSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.textBorder{
    text-shadow: -1px 1px 0 var(--bg-color),
                 1px 1px 0 var(--bg-color),
                 1px -1px 0 var(--bg-color),
                 -1px -1px 0 var(--bg-color);
}


//Border Radius
.borderRadius-1{
    border-radius: ($radiusSize*0.2) + 0px !important;
}
.borderRadius-2{
    border-radius: ($radiusSize*0.4) + 0px !important;
}
.borderRadius-3{
    border-radius: ($radiusSize*0.6) + 0px !important;
}
.borderRadius-4{
    border-radius: ($radiusSize*0.8) + 0px !important;
}
.borderRadius-5{
    border-radius: ($radiusSize) + 0px !important;
}
.borderRadius-c{
    border-radius: 50% !important;
}


//Neumorphism
.neumorphic{
    outline: none;
    background-color: $sameAsBackground;
    border: 0;
    box-shadow: 5px 5px 10px var(--dimShadow), 
                -5px -5px 10px var(--brightShadow);
}

.insetNeumorphic{
    outline: none;
    background-color: $sameAsBackground;
    border: 0;
    box-shadow: inset 5px 5px 5px var(--dimShadow), 
                inset -5px -5px 5px var(--brightShadow);
}


//Glassmorphism
.glassmorphic{
    z-index: 2;
    backdrop-filter: blur(10px);
}

.lighterGlassmorphic{
    z-index: 2;
    backdrop-filter: blur(60px);
}

//Animation
.spinAnimation{
    transition: transform .5s ease-in-out;
}

.spinAnimation:hover{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
