:root{
    --bg-color: #ececec;
    --text-color: #1f1f1f;
    background-color: var(--bg-color);
    --brightShadow: rgba(255, 255, 255, 0.4);
    --dimShadow: rgba(0, 0, 0, 0.05);
    --highContrastBrightShadow: rgba(255, 255, 255, 0.7);
    --lowContrastBrightShadow: rgba(0, 0, 0, 0.15);
}

[dark-mode="true"] {
    --bg-color: #1f1f1f;
    --text-color: #ececec;
    background-color: var(--bg-color);
    --brightShadow: rgba(255, 255, 255, 0.03);
    --dimShadow: rgba(0, 0, 0, 0.4);
    --highContrastBrightShadow: rgba(255, 255, 255, 0.15);
    --lowContrastBrightShadow: rgba(0, 0, 0, 0.7);
}