$lightModeColor: #ececec;
$darkModeColor: #1f1f1f;
$lightModeTextColor: #1f1f1f;
$darkModeTextColor: #ececec;

$sameAsBackground: #00000000;
$borderColor: #000000;


$lightModeBrightShadow: rgba(255, 255, 255, 0.4);
$lightModeDimShadow: rgba(0, 0, 0, 0.05);
$darkModeBrightShadow: rgba(255, 255, 255, 0.05);
$darkModeDimShadow: rgba(0, 0, 0, 0.4);

$lightModeHighContrastBrightShadow: rgba(255, 255, 255, 0.7);
$lightModeHighContrastDimShadow: rgba(0, 0, 0, 0.15);
$darkModeHighContrastBrightShadow: rgba(255, 255, 255, 0.15);
$darkModeHighContrastDimShadow: rgba(0, 0, 0, 0.7);


$radiusSize: 25;
