$color: #ececec;
$darkColor: #1f1f1f;
$sameAsBackground: #00000000;
$borderColor: #000000;
$brightShadow: rgba(255, 255, 255, 0.3);
$dimShadow: rgba(0, 0, 0, 0.05);
$highContrastBrightShadow: rgba(255, 255, 255, 0.7);
$highContrastDimShadow: rgba(0, 0, 0, 0.15);
$radiusSize: 25;