@import "../../variables.scss";

button:focus {
    outline: none;
}

.neuHover:hover{
    background: $lightColor;
    box-shadow: 2px 2px 4px $dimLightNeu, 
                -2px -2px 4px $brightLightNeu;
}

.neuPress:active {
    background: $lightColor;
    box-shadow: inset 5px 5px 10px $dimLightNeu, 
                inset -5px -5px 10px $brightLightNeu;
}