@import "../../variables.scss";

button:focus {
    outline: none;
}

.neuHover:hover{
    background: $color;
    box-shadow: 2px 2px 4px $dimShadow, 
                -2px -2px 4px $brightShadow;
}

.neuPress:active {
    background: $color;
    box-shadow: inset 5px 5px 10px $dimShadow, 
                inset -5px -5px 10px $brightShadow;
}