.hoverInput{
    #hoverFileDialogButton{
        display: none;
    }
}

.hoverInput:hover{
    #hoverFileDialogButton{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 65%;
        border: none;
        display: flex;
    }
}