.h-masonry { 
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px; /* Adjustment for the gutter */
    width: 100%;
}

.h-masonry-brick {
    flex: auto;
    height: 250px !important;
    min-width: 150px;
    margin: 0 8px 8px 0; /* Some gutter */
}

.h-masonry-brick:nth-child(4n+1) {
    width: 250px !important;
}

.h-masonry-brick:nth-child(4n+1):nth-child(4n+2) {
    width: 325px !important;
}

.h-masonry-brick:nth-child(4n+1):nth-child(4n+3) {
    width: 180px !important;
}

.h-masonry-brick:nth-child(4n+1):nth-child(4n+4) {
    width: 380px !important;
}
