.horizontalScrollMenu {
    overflow-x: auto;
    overflow-y: none;
    white-space: nowrap;
}

.hideScrollBar{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hideScrollBar::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}