@import "../../variables.scss";
@import "../../App.scss";

.textbox{
    @extend .insetNeumorphic;
    text-align: center;
    border: 0;
    outline: none;
    animation: toInset 0.3s;
    color: var(--text-color);
}

.textbox:focus{
    @extend .neumorphic;
    animation: toNeu 0.3s;
}

@keyframes toNeu {
    0% { box-shadow: none; }
    100% { @extend .neumorphic; }
}

@keyframes toInset {
    0% { box-shadow: none; }
    100% { @extend .insetNeumorphic; }
}
