@import "../../variables.scss";


.navLink{
    color: black;
    text-decoration: none;
}

.navLink:hover{
    text-decoration: none;
}

.navSelected {
    background: $sameAsBackground;
    box-shadow: inset 5px 5px 10px $dimShadow, 
                inset -5px -5px 10px $brightShadow;
}

button.navbar-toggler{
    border: none;
}

button.navbar-toggler.collapsed{
    border: none;
}