@import "../../variables.scss";

button:focus {
    outline: none;
}

.neuHover:hover{
    background: $sameAsBackground;
    box-shadow: 2px 2px 4px $lightModeDimShadow, 
                -2px -2px 4px $lightModeBrightShadow;
}

.neuPress:active {
    background: $sameAsBackground;
    box-shadow: inset 5px 5px 10px $lightModeDimShadow, 
                inset -5px -5px 10px $lightModeBrightShadow;
}
