@import "../../variables.scss";

button:focus {
    outline: none;
}

.neuHover:hover{
    background: $sameAsBackground;
    box-shadow: 2px 2px 4px var(--dimShadow), 
                -2px -2px 4px var(--brightShadow);
}

.neuPress:active {
    background: $sameAsBackground;
    box-shadow: inset 5px 5px 10px var(--dimShadow), 
                inset -5px -5px 10px var(--brightShadow);
}

.shiftCardTitle{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.shiftCardTitle:hover{
    overflow: visible;
    white-space: normal;
    width: auto;
    max-width: fit-content;
}