@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

body{
    background-color: $lightColor;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    justify-content: center;
    text-decoration: none;
}

@for $i from 1 through 12 {
    .col-#{$i}{
        padding: 0;
    }
  }


//Neumorphism
.neumorphic{
    min-width: 100%;
    outline: none;
    padding: 10px;
    margin: 10px 0px ;
    border-radius: 15px;
    background-color: $lightColor;
    border: 0;
    box-shadow: 5px 5px 10px $dimLightNeu, 
                -5px -5px 10px $brightLightNeu;
}
