@import "../../variables.scss";
@import "../../App.scss";


.navLink{
    text-decoration: none;
}

.navLink:hover{
    text-decoration: none;
}

.navSelected {
    background: $sameAsBackground;
    box-shadow: inset 5px 5px 10px var(--dimShadow), 
                inset -5px -5px 10px var(--brightShadow);
}

button.navbar-toggler{
    border: none;
}

button.navbar-toggler.collapsed{
    border: none;
}